{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Nouveau fournisseur</h1>

    {{ form(form) }}

        <a href="{{ path('supplier') }}" class="btn btn-jismen">
            Retour à la liste
        </a>
{% endblock %}
