{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>TVA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ entity.rate }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group">
        <a href="{{ path('tva') }}" class="btn btn-primary">
            Retour à la liste
        </a>
        <a href="{{ path('tva_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Modifier
        </a>
    </div>
{% endblock %}
