{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Nouvelle commande</h1>

    {{ form(form) }}

    <a href="{{ path('command') }}" class="btn btn-jismen">
        Retour à la liste
    </a>
{% endblock %}
