{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Modifier</h1>

    {{ form(edit_form) }}

    <a href="{{ path('user') }}" class="btn btn-jismen">
        Retour à lal liste
    </a>
{% endblock %}
